#viewskill {
  position: absolute;
  width: 77.78vw;
  margin-left: 18.67vw;
  margin-top: 5.55vw;
  border: 1px solid #ebebf0;
  border-radius: 4px;
  padding: 2vw;
}

#viewskill span {
    font-size: 1.7vw;
    font-weight: 700;
    /* margin-left: 1vw; */
    margin-bottom: 6vw;
}
#viewskill img {
  width: 1.2vw;
  height: 1.2vw;
  cursor: pointer;
}

#add {
  float: right;
}

.editicon {
    height: 1.2vw;
    width: 1.2vw;
    float: right;
}

.expbox{
  margin-top: 2vw;
  padding-left: 2vh;
  border-bottom: solid 6px #512da8;
}
.expbox:hover{
  background-color: #13131A;
  cursor: pointer;
}

.endorse{
    color: #A950FB;
    font-size: 1.2vw !important;
    vertical-align: top;
    float: right;
    cursor: pointer;
}
.expbox{
  margin-top: 2vw;
  padding-left: 2vh;
  border-bottom: solid 6px #512da8;
}
#warehead{
position:absolute;
left:270px;
top:5vh;
}
#inputArr{
  position: absolute;
  width:55vw;
  /* left:270px;
  top:22vh; */
}
.skillbar-title span{
  font-size: 0.7vw !important;
}
.skillbar{
  width: 90% !important;
}
.voidimage{
  position: relative;
  /* align-items: center; */
  /* justify-content: center; */
  left: 29%;
  top: 50%;
  width: 25vw !important;
  height: auto !important;
}
#inputArr2{
  font-size: 1vw;
  height: 3.33vw;
  width: 100%;
  border-radius: 0.5vw;
  border: 1px solid #f8f8f8;
  border-color: aliceblue;
  padding-left: 1.25vw;
  background-color: #0C0C0F;
}
#inputArr3{
  font-size: 1vw;
  height: 3.33vw;
  width: 55vw;
  /* margin-top:-80px; */
  border-radius: 0.5vw;
  border: 1px solid #f8f8f8;
  border-color: aliceblue;
  padding-left: 1.25vw;
  background-color: #0C0C0F;
}
#createinp{
  position: absolute;
  left:270px;
  top:280px;
}
#padder{
  margin-bottom:40px;
}
select {
  background-color: #13131A;
  width: 55vw;
  border: 0.1vw solid white;
  border-radius: 0.4vw;
  padding-left: 1vw;
  font-size: 0.8vw;
height:3.33vw;
}
#SubmitBtn{
  border: none;
  background-color: #512da8;
  border-radius: 0.6vw;
  padding:10px 360px;
  font-size: 1.15vw;
  text-align: center;
  font-weight:bold;
  cursor:pointer;
}
.expbox{
  margin-top: 2vw;
  padding-left: 2vh;
  border-bottom: solid 6px #512da8;
}
.expbox:hover{
  background-color: #13131A;
  cursor: pointer;
}
.eyecloseimg{
  position: absolute;
  width:20px;
  margin-top:-40px;
  margin-left: 70.63vw;
  height:20px;
}
.deleteimg{
  position: absolute;
  width:24px;
  margin-top:-38px;
  margin-left: 68.63vw;
  height:20px;
}
.deleteimg2{
  position: absolute;
  width:24px;
  margin-top:-38px;
  margin-left: 66.63vw;
  height:20px;
}