#svg3{
    position: absolute;
    right: 0.1vw;
    top: 52.5vh;
    /* top:100%; */
    /* right: 100%; */
    width:600px;
    height:400px;
}
#flexdiv{
    display:flex;
}
#buttondiv{
    margin-top:220px;
    margin-left:310px;
}
#splashbtn{
        border: none;
        background-color: #512da8;
        border-radius: 0.6vw;
        padding:10px 50px;
        font-size: 1.15vw;
        text-align: center;
        font-weight:bold;
        margin:0 30px;
        cursor:pointer;
}
#splashpara{
    margin-top:10px;
}
#splashHead:hover{
color:#512da8;
cursor:pointer;
}
#splashHr{
    margin-top:30px;
    width:450px;
}
#splashHead{
    margin-top:20px;
    margin-left:115px;
}